/*---> RESET DO ESTILO PADRÃO CSS/HTML <----  */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----> FIM DO RESET <-----*/

/*-----> DOCUMENTO INTEIRO <------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body,html {               
    height: 100%;
    width:100%;
    font-family: 'Open Sans', sans-serif;/*DEFINIÇÃO DE FONTE (FONTE DO GOOGLE FONTES)*/
}

html{
    scroll-behavior: smooth;
}

/*-----> FIM DO DOCUMENTO INTEIRO <------*/

/*---->PADRÕES DE FONTES<----*/
h1{
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 160%;
    /* or 83px */
}

h2{
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 160%;
}

h3{
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 160%;
}

h4{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
}

.texto-grande{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 160%;
}

.texto-corrido{
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 140%;
}

.texto-corrido-bold{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 140%;
}

.texto-pequeno-2{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
}

/*---->PADRÕES DE BOTÕES<-----*/

/*-->botão primário comum<----*/
.botao_primario {
    background-color: #BAD94A; /* Green */
    border: none;
    border-radius: 4px;
    width: 142px;
    height: 42px;
    padding: 15px 15px;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.16);
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
    color: #404040;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
  }

  .botao_resp{
    width: 120px;
    padding: 15px 10px;
  }

.botao_primario:hover{
    -webkit-filter: saturate(200%) drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
    filter: saturate(200%) drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}

.botao_primario:active{
    background-color:rgb(50, 92, 53);
    color: #ffffff;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0));
}

/*-->botão primário com icone (imagem)<----*/

.botao_icone:hover{
    -webkit-filter: saturate(200%);
    filter: saturate(200%);
}

.botao_icone:active{
    -webkit-filter: brightness(60%);
    filter: brightness(60%);
}



/*------>MENU<--------------*/

.header{/*container do menu*/
    /*border-bottom: 1px solid #2c71cc;*//*apenas para verificar*/
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 96px;
    z-index: 100;
    background-color: #ECECEC;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-bottom: 1px solid #C6C6C6;/*apenas para verificar*/

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: right;
    width: 1312px;
    padding-left: 16px;

}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.hamburger {
    display: none;
    padding-right: 8px;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;/*para deixar os itens do menu mais próximo do botão*/
}

.nav-item {
    margin-left: 16px;
}

.nav-link{
    font-size: 16px;
    font-weight: bold;
    color: #404040;
    cursor: pointer;
}

.nav-link:hover{
    color: #bbb74e;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

/*------>FIM DO MENU<--------------*/

/*========>PÁGINA HOME<===========*/

/*------->BOTÃO FIXO WHATSAPP<------*/
.whatsapp_float{
    /*border: 1px solid #2c71cc;/*apenas para verificar*/
    position:fixed;
    bottom:20px;
    right:20px;
    height:80px;
    z-index: 99;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

.whatsapp_float:hover{
transform: scale(1.2);
}

/*------>BANNER PARALLAX<---------*/

.main{
    padding:0px;
}

/*parallax*/
.parallax{
    
    background-image:url(home-banner_1920_700.png);/*imagem usada*/
    background-attachment: fixed;/*a imagem não rola junto com a div/section*/
    -webkit-background-attachment: fixed;/*a imagem não rola junto com a div/section*/
    background-size: cover;/*a imagem é ajustada ao tamanho da div/section*/
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;/*para evitar que o efeito repita a mesma imagem caso a tela do usuário seja muito grande ou a imagem muito pequena*/
    -webkit-background-repeat: no-repeat;
    background-position: center center;/*a imagem sempre ficará centralizada horizontalmente e verticalmente*/
    -webkit-background-position: center center;/*a imagem sempre ficará centralizada horizontalmente e verticalmente*/
    transform: scale(1.05);/*faz a imagem se movimentar no sentido oposto da rolagem da página*/
    -webkit-transform: scale(1.05);/*faz a imagem se movimentar no sentido oposto da rolagem da página*/
    min-height: 500px;
    padding-top: 100px;
    border: 1px solid #C6C6C6;/*apenas para verificar*/
}

/*textos*/
.banner-titulo{
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    padding-top: 50px;
}

.banner-subtitulo{
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    padding-top: 14px;
    padding-bottom: 15px;
}

.assista{
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;
}

/*logo ação verde*/
.logo-branco{
    height: 90px;
    padding-top: 6px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

/*botao play*/
.banner_play{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 15px;
}

/*modal vídeo do youtube*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /*background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: rgba(255, 255, 255, 0.726);
    margin: auto;
    padding-top: 4%;
    padding-left: 8%;
    /*border: 1px solid #888;*/
    width: 80%;
    height: 90%;
  }
  
  /* The Close Button */
  .close {
    color: #7e1616;
    float: right;
    font-size: 56px;
    font-weight: bold;
    padding-right: 5%;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(255, 0, 0);
    text-decoration: none;
    cursor: pointer;
  }


/*SECTIONS*/

/*----PATROCINADORES-----*/

.patrocinadores{
    padding-top: 32px;
	background-color: #FFFFFF;
    display: flex;
    width: 100%;
    justify-content: center; /*alinhamento horizontal do conteúdo*/
    /*border: 1px solid #cc2cbf;/*apenas para verificar*/
}

.patrocinadores div{
    display: flex;
    justify-content: flex-end; /*colocou o menu a esquerda*/
    flex-wrap: wrap; /*mantém os links dentro do container e 
    permite um ficar embaixo do outro quando a tela diminuir*/
    width: 1312px;
    /*border: red 1px solid;*/ /* para verificar a área do NAV*/
    margin:0px;
    padding:8px;
    justify-content: space-around;/*distribuição horizontal*/
    align-items: center;/*alinhamento vertical*/
    background-color: #FFFFFF;
    /*border: 1px solid #e70228;/*apenas para verificar*/
}

.patrocinadores p{
    width: 100%;
    margin: auto;
    text-align: center;
    color: #666666;
    /*border: 1px solid #2c71cc;/*apenas para verificar*/
}

.logo-pat{
    width: 152px;
    height: 152px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
    margin: 16px 16px 32px 16px;
    /*border: 1px solid #2c71cc;/*apenas para verificar*/
}

#mantenedores{/*somene mantenedores*/
    background-color: #ECECEC;
}

#mantenedores div{/*somene mantenedores*/
    background-color: #ECECEC;
}

/*-----COMO FUNCIONA------*/

.comofun{ /*container maior/section*/
    background-color: #ECECEC;
    padding: 32px 0px;
    display: flex;
    width: 100%;
    justify-content: center; /*alinhamento horizontal do conteúdo*/
    /*border: 1px solid #cc2cbf;/*apenas para verificar*/
}

.comfun-div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /*mantém os links dentro do container e 
    permite um ficar embaixo do outro quando a tela diminuir*/
    width: 1312px;
    margin:0px;
    padding:8px;
    background-color: #ECECEC;
    /*border: 1px solid #e70228;/*apenas para verificar*/
}

.comofun h2{
    width: 100%;
    margin: auto;
    text-align: center;
    color: #666666;
    padding-bottom: 44px;
    /*border: 1px solid #2c71cc;/*apenas para verificar*/
}

.comfun-cont{
    flex:1; /*permite que o conteúdo se adapte automaticamente*/
    display:flex;
    flex-wrap: wrap; /*mantém os itens dentro do container e permite 
    um ficar embaixo do outro quando a tela diminuir*/
    justify-content: center; /*alinhamento horizontal do conteúdo*/
    padding: 10px 32px;
    /*border: 1px solid #2c71cc;/*apenas para verificar*/
}

.comfun-cont p{
    color: #535353;
}

/*-----BASES GEOGRÁFICOS------*/

.baseSec{ /*container maior/section*/
    background-color: #ffffff;
    padding: 32px 0px;
    display: flex;
    width: 100%;
    justify-content: center; /*alinhamento horizontal do conteúdo*/
    /*border: 1px solid #cc2cbf;/*apenas para verificar*/
}

.base-div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /*mantém os links dentro do container e 
    permite um ficar embaixo do outro quando a tela diminuir*/
    width: 1312px;
    margin:0px;
    padding:8px;
    background-color: #ffffff;
    /*border: 1px solid #e70228;/*apenas para verificar*/
}

.baseSec h2{
    width: 100%;
    margin: auto;
    text-align: center;
    color: #666666;
    padding-bottom: 44px;
    /*border: 1px solid #2c71cc;/*apenas para verificar*/
}

.base-cont{
    flex:1; /*permite que o conteúdo se adapte automaticamente*/
    display:flex;
    flex-wrap: wrap; /*mantém os itens dentro do container e permite 
    um ficar embaixo do outro quando a tela diminuir*/
    justify-content: center; /*alinhamento horizontal do conteúdo*/
    padding: 10px 32px;
    /*border: 1px solid #2c71cc;/*apenas para verificar*/
}

.base-cont p{
    color: #535353;
}


/*----SUPORTE-----*/

.suporte{
    padding-top: 64px;
	background-color: #ECECEC;
    display: flex;
    width: 100%;
    justify-content: center; /*alinhamento horizontal do conteúdo*/
    /*border: 1px solid #cc2cbf;/*apenas para verificar*/
}

.suporte-div{
    display: flex;
    flex-wrap: wrap; /*mantém os links dentro do container e 
    permite um ficar embaixo do outro quando a tela diminuir*/
    width: 1312px;
    margin:0px;
    padding:8px 0px 56px 0px;
    justify-content: space-around;/*distribuição horizontal*/
    align-items: center;/*alinhamento vertical*/
    background-color: #ECECEC;
    /*border: 1px solid #e70228;/*apenas para verificar*/
}

.suporte p{
    width: 100%;
    margin: auto;
    text-align: center;
    color: #666666;
    margin-bottom: 56px;
    /*border: 1px solid #2c71cc;/*apenas para verificar*/

}

.suporte-botoes{
    /*border: 1px solid #2c71cc;/*apenas para verificar*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;/*distribuição horizontal*/
    align-items: center;/*alinhamento vertical*/
    width: 800px;
}

/*----EXEMPLOS-----*/

.exemplos h2{
    width: 100%;
    margin: auto;
    text-align: center;
    color: #666666;
    padding: 32px 0px 16px 0px;
    /*border: 1px solid #2c71cc;/*apenas para verificar*/
}

.exemplos p{
    width: 100%;
    margin: auto;
    text-align: center;
    color: #666666;
    padding-bottom: 32px;
    /*border: 1px solid #2c71cc;/*apenas para verificar*/
}

.slideshow-container{
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slide{/*os slides iniciam ocultos*/
    display: none;
}

.imgSlide{
    vertical-align: middle;
}

.btnAnterior, .btnProximo{
    cursor: pointer;/*mãozinha*/
    position: absolute;/*fica travado dentro do elemento pai*/
    top: 50%;/*fica bem no meio verticalmente em relação ao elemento pai*/
    width: auto;
    padding: 15px;
    margin-top: -22px;
    color: rgb(0, 0, 0);
    background-color: rgba(186,217,74,0.9);
    font-weight: bold;
    font-size: 30px;
    transition: 0.4s ease;/*ease - efeito de suavização*/
    user-select: none;/*The user-select property specifies whether the text of an element can be selected.*/
}

.btnAnterior{
    left: 0;
    border-radius: 0 5px 5px 0;
}

.btnProximo{
    right: 0;
    border-radius: 5px 0 0 5px;
}

.btnAnterior:hover, .btnProximo:hover{
    -webkit-filter: saturate(200%) drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
    filter: saturate(200%) drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}

.textoSlide{
    color: white;
    background-color: #404040;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 12px;
    position: absolute;
    bottom: 0px;
    width: 100%;/*100% do seu container*/
    text-align: center;
    transition: 0.4s ease;
}

.numeroSlide{
    color: rgb(0, 0, 0);
    background-color: rgba(186,217,74,0.8);
    font-size: 12px;
    padding: 7px 12px;
    position: absolute;
    top: 0px;
    right: 50%;;
}

.indicador{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 2px;
    background-color: rgba(186,217,74,0.4);
    border-radius: 50%;/*deixa o elemento redondo*/
    display: inline-block;/*deixa uma bolinha do lado da outra*/
    transition: background-color 0.5s ease;
    user-select: none;/*para não ficar em foco, como se fosse digitar*/
}

.indicadorDiv{
    text-align:center;
    margin-bottom: 32px;
}

.ativo, .indicador:hover{
    background-color: rgb(186,217,74);
}

.fade{
    animation-name: fade;
    animation-duration: 1.3s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.3s;
}

@keyframes fade{
    from{opacity: 0.4;}
    to{opacity: 1;}
}

@-webkit-keyframes fade{
    from{opacity: 0.4;}
    to{opacity: 1;}
}

/*----INFORMATIVO-----*/

.informativo{ /*container maior/section*/
    background-color: #ECECEC;
    padding: 32px 0px;
    display: flex;
    width: 100%;
    justify-content: center; /*alinhamento horizontal do conteúdo*/
    /*border: 1px solid #cc2cbf;/*apenas para verificar*/
}

.info_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /*mantém os links dentro do container e 
    permite um ficar embaixo do outro quando a tela diminuir*/
    width: 1312px;
    margin:0px;
    padding:8px;
    background-color: #ECECEC;
    /*border: 1px solid #e70228;/*apenas para verificar*/
}

.informativo h2{
    width: 100%;
    margin: auto;
    text-align: center;
    color: #666666;
    padding-bottom: 44px;
    /*border: 1px solid #2c71cc;/*apenas para verificar*/
}

.info_conteudo_img{
    flex:1; /*permite que o conteúdo se adapte automaticamente*/
    display:flex;
    max-width: 28%;
    flex-wrap: wrap; /*mantém os itens dentro do container e permite 
    um ficar embaixo do outro quando a tela diminuir*/
    justify-content: right; /*alinhamento horizontal do conteúdo*/
    padding: 0px;
    /*border: 1px solid #f605e2;/*apenas para verificar*/
}

.info_conteudo_rss{
    display:flex;
    justify-content:left; /*alinhamento horizontal do conteúdo*/
    padding: 0px 0px;
    /*border: 1px solid #2c71cc;/*apenas para verificar*/
    min-width: 800px;
}

.botao_info{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 16px;
    padding-top: 40px;
    /*border: 1px solid #6c811f;/*apenas para verificar*/
}

/*-----SOBRE------*/

.sobre{ /*container maior/section*/
    background-color: #FFFFFF;
    padding: 32px 0px 5px 0px;
    display: flex;
    width: 100%;
    justify-content: center; /*alinhamento horizontal do conteúdo*/
    /*border: 1px solid #cc2cbf;/*apenas para verificar*/
}

.sobre-div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /*mantém os links dentro do container e 
    permite um ficar embaixo do outro quando a tela diminuir*/
    width: 1312px;
    margin:0px;
    padding:8px;
    background-color: #FFFFFF;
    /*border: 1px solid #e70228;/*apenas para verificar*/
}

.sobre h2{
    width: 100%;
    margin: auto;
    text-align: center;
    color: #666666;
    padding-bottom: 44px;
    /*border: 1px solid #2c71cc;/*apenas para verificar*/
}

.sobre-cont{
    flex:1; /*permite que o conteúdo se adapte automaticamente*/
    display:flex;
    flex-wrap: wrap; /*mantém os itens dentro do container e permite 
    um ficar embaixo do outro quando a tela diminuir*/
    justify-content: center; /*alinhamento horizontal do conteúdo*/
    padding: 10px 32px;
    /*border: 1px solid #1bb460;/*apenas para verificar*/
}

.sobre-cont p{
    color: #535353;
    padding-top: 30px;
    /*border: 1px solid #694f08;/*apenas para verificar*/
}

.sobre-img{
    height: 286px;
    width: 440px;
    /*border: 1px solid #cc2c84;/*apenas para verificar*/
    
}

/*======>PÁGINA SOBRE<=========*/

/*parallax*/
.parallaxSobre{
    
    background-image:url('sobre_banner.png');/*imagem usada*/
    background-attachment: fixed;/*a imagem não rola junto com a div/section*/
    background-size: cover;/*a imagem é ajustada ao tamanho da div/section*/
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;/*para evitar que o efeito repita a mesma imagem caso a tela do usuário seja muito grande ou a imagem muito pequena*/
    background-position: center center;/*a imagem sempre ficará centralizada horizontalmente e verticalmente*/
    transform: scale(1.05);/*faz a imagem se movimentar no sentido oposto da rolagem da página*/
    min-height: 240px;
    padding-top: 50px;
    border: 1px solid #C6C6C6;/*apenas para verificar*/
}

/*textos*/
.banner-titulo-sobre{
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    padding-top: 70px;
}

/*conteúdo*/
.contPagSobre{ /*container maior/section*/
    padding: 32px 0px;
    display: flex;
    width: 100%;
    justify-content: center; /*alinhamento horizontal do conteúdo*/
    /*border: 1px solid #cc2cbf;/*apenas para verificar*/
}

.contPagSobre-div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /*mantém os links dentro do container e 
    permite um ficar embaixo do outro quando a tela diminuir*/
    width: 1312px;
    margin:0px;
    padding:8px;
    /*border: 1px solid #e70228;/*apenas para verificar*/
}

.contPagSobre h2{
    width: 100%;
    margin: auto;
    text-align: center;
    color: #666666;
    padding-bottom: 44px;
    /*border: 1px solid #2c71cc;/*apenas para verificar*/
}

.contPagSobre-cont{
    flex:1; /*permite que o conteúdo se adapte automaticamente*/
    display:flex;
    flex-wrap: wrap; /*mantém os itens dentro do container e permite 
    um ficar embaixo do outro quando a tela diminuir*/
    justify-content: center; /*alinhamento horizontal do conteúdo*/
    padding: 10px 32px;
    /*border: 1px solid #2c71cc;/*apenas para verificar*/
}

.contPagSobre-cont p{
    color: #535353;
}

.contPagSobre-img{
    height: 286px;
    width: 440px;
}

.bgCinza{
    background-color: #ECECEC;
}

.bgBranco{
    background-color: #ffffff;
}


/*========>FAQ<==========*/

/*parallax*/
.parallaxFAQ{
    background-image:url('faq_banner.jpg');/*imagem usada*/
    background-attachment: fixed;/*a imagem não rola junto com a div/section*/
    background-size: cover;/*a imagem é ajustada ao tamanho da div/section*/
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;/*para evitar que o efeito repita a mesma imagem caso a tela do usuário seja muito grande ou a imagem muito pequena*/
    background-position: center center;/*a imagem sempre ficará centralizada horizontalmente e verticalmente*/
    transform: scale(1.05);/*faz a imagem se movimentar no sentido oposto da rolagem da página*/
    min-height: 240px;
    padding-top: 50px;
    border: 1px solid #C6C6C6;/*apenas para verificar*/
}


/*textos*/
.banner-titulo-FAQ{
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    padding-top: 70px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: rgb(233, 229, 229);
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 140%;
    margin: 10px 20px;
    border-radius: 4px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .activeAc, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 20px 50px;
    background-color: white;
    display: none;
    overflow: hidden;
    font-style: normal;
    font-size: 20px;
    line-height: 140%;
  }

  /*Add a symbol to each button to indicate whether the collapsible content is open or closed:*/

  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: rgb(0, 0, 0);
    float: right;
    margin-left: 5px;
  }
  
  .activeAc:after {
    content: '\2796'; /* Unicode character for "minus" sign (-) */
  }

/*========>TUTORIAL<==========*/

/*parallax*/
.parallaxTutorial{
    background-image:url('tutorialBgOriginal.jpg');/*imagem usada*/
    background-attachment: fixed;/*a imagem não rola junto com a div/section*/
    background-size: cover;/*a imagem é ajustada ao tamanho da div/section*/
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;/*para evitar que o efeito repita a mesma imagem caso a tela do usuário seja muito grande ou a imagem muito pequena*/
    background-position: center center;/*a imagem sempre ficará centralizada horizontalmente e verticalmente*/
    transform: scale(1.05);/*faz a imagem se movimentar no sentido oposto da rolagem da página*/
    min-height: 240px;
    padding-top: 50px;
    border: 1px solid #C6C6C6;/*apenas para verificar*/
}


/*textos*/
.banner-titulo-tutorial{
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    padding-top: 70px;
}

/*tab lateral*/
/* Style the tab */
.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 25%;
    height: 50px;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 16px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;

  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current "tab button" class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    float: left;
    text-align: center;
    padding: 0px 12px;
    /*border: 1px solid #ccc;*/
    width: 70%;
    border-left: none;
    height: 500px;
  }

  /*tab conteudo*/
  .videoTutorialCont{
    flex:1; /*permite que o conteúdo se adapte automaticamente*/
    display:flex;
    flex-wrap: wrap; /*mantém os itens dentro do container e permite 
    um ficar embaixo do outro quando a tela diminuir*/
    justify-content: center; /*alinhamento horizontal do conteúdo*/
    padding: 10px 32px;
    height: 90%;
    /*border: 1px solid #2c71cc;/*apenas para verificar*/
  }

  /*vídeos para celular*/
  #vidTut{
    display: none;
}


  /*===========>RODAPÉ<==========*/

footer{
    background-color: #292929;
    height: 328px;
    justify-content: center; /*alinhamento horizontal do conteúdo*/
    color: #FFFFFF;
}

footer .texto-corrido-bold{
    padding-top: 48px;
    text-align: center;
}

footer .texto-pequeno-2{
    padding-top: 36px;
    text-align: center;
}


/*------------------------RESPONSIVO-------------------------------*/

@media only screen and (max-width: 1200px) {

    .nav-menu {

        margin-left: 1%;/*para deixar os itens do menu mais próximo do botão*/
    }

    .nav-link{
        font-size: 14px;
    }

    .botao_entrar {
        width: 90px;
        margin-right: 3%;
    }

    .botao_resp{
        font-size: 12px;
        width: 90px;
        margin: 0 3%;
      }



    /*parallax*/
    .parallax ,.parallaxSobre, .parallaxFAQ, .parallaxTutorial {
         background-attachment: scroll;
    }
}

@media only screen and (max-width: 1000px) {
   
    /*menu nav*/

    .nav-menu {
        position: fixed;
        left: -150%;
        top: 5rem;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.9);
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.2);
        padding-right: 25%;
    }


    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1.5rem 0;
    }

    .botao_entrar {
        width: 120px;
        margin-left: 40%;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        padding-top: 10px;
    }


    /*texto banner*/

    .banner-titulo{
        font-size:35px;
        padding-top: 50px;
    }
    
    .banner-subtitulo{
        font-size:20px;
        padding-top: 12px;
    }
    
    .assista{
        font: size 12px;
    }

    /*parallax*/
    .parallax ,.parallaxSobre, .parallaxFAQ, .parallaxTutorial {
        background-attachment: scroll;
      }

    /*modal vídeo do youtube*/
    .modal {
        height: 50%;
    }

    .modal-content {
        padding-top: 1%;
        width: 100%;
    }

    .modal-content iframe{
        height: 75%;
    }

    /*como funciona*/
    .comofun{ /*container maior/section*/

        align-items: center;
        margin: auto;
    }

    .comfun-div{
        padding: 0px;
    }

    .comfun-cont{
        margin: auto;
        height: 100%;
    }

    .comfun-cont p{
        color: #535353;
        text-align: center;
        margin: auto;
        padding-left: 0px;
    }

    .comfun-cont iframe{
        width: 320px;
        height: 245px;
        padding:0px;
    }

    /*bases geograficas*/
    .baseSec{ /*container maior/section*/

        align-items: center;
        margin: auto;
    }

    .base-div{
        padding: 0px;
    }

    .base-cont{
        margin: auto;
        height: 100%;
    }

    .base-cont p{
        color: #535353;
        text-align: center;
        margin: auto;
        padding-left: 0px;
    }

    .base-cont iframe{
        width: 320px;
        height: 245px;
        padding:0px;
    }


    /*suporte*/

    .suporte-botoes{
        width: 100%;
        height: 245px;
        padding:0px
    }

    /*mapa de exemplos*/

    .mapa_exemplo:not( :hover ){
        -webkit-transform:scale(1.0); /* or some other value */
        transform:scale(1.0);
    }

    /*informativo*/

    .info_conteudo_img{
        display:none;
        width: 0%;
    }

    .info_conteudo_rss{
        justify-content:center; /*alinhamento horizontal do conteúdo*/
        width: 90%;
        min-width: 50px;
        padding:0px;
        font-size: 10px;
        margin: 0px;
    }

    .info_container{
        width:100%;
        padding: 20px;
    }

    /*sobre e ====PÁGINA SOBRE=====*/

    .sobre, .contPagSobre{ /*container maior/section*/

        align-items: center;
        margin: auto;
        text-align: center;
    }

    .sobre-div, .contPagSobre-div{
        padding: 0px;
        text-align: center;
        
    }

    .sobre-cont, .contPagSobre-cont{
        margin: auto;
        height: 100%;
        text-align: center;
    }

    .sobre-cont p, .contPagSobre-cont p{
        color: #535353;
        text-align: center;
        margin: auto;
        padding-left: 0px;
        padding-top: 0px;
    }

    .sobre-img, .contPagSobre-img{
        width:300px;
        height:200px;
    }

}

@media only screen and (max-width: 700px) {
    .botao_entrar{
        display: none;
    }

    .parallax ,.parallaxSobre, .parallaxFAQ, .parallaxTutorial {
        background-attachment: scroll;
      }
    
    #vidTut{
        display: flex;
    }

    #faqPc{
        display: none;
    }
}