body,html {
    font-family: 'calibri';
    height: 100%;
    width:100%;
    margin: 0;
    padding: 0;
    /*font-family: 'Source Sans Pro', sans-serif;*/
}

html {
    scroll-behavior: smooth;
  }



  /* barra de navegação*/

.menu{
    background: #013b15;; /*cor do fundo*/
    display: flex; /* permitirá usar o align-items para alinhar o conteúdo ao 
    centro vertical*/
    align-items: end;/* alinhamento vertical com o display:flex*/
    justify-content: center;/*alinhamento horizontal do conteúdo*/
    /*overflow: hidden;*/
    position: fixed;
    width: 100%;
    padding: 10px 0px;
    margin-bottom: 0px;
    z-index: 100;
    
    
}


nav{
    display: flex;
    /*justify-content: flex-end; /*colocou o menu a esquerda*/
    background: #013b15; /*cor do fundo*/
    flex-wrap: wrap; /*mantém os links dentro do container e 
    permite um ficar embaixo do outro quando a tela diminuir*/
    width: 850px;
    /*border: red 1px solid;*/ /* para verificar a área do NAV*/
    
    
}

.menu-item {
    width: 120px; /*largura padrão de cada link*/
    min-width: 120px; /*largura minima de cada link*/
    max-width: 120px; /*largura máxima de cada link*/
    height: 50px; /*altura de cada link*/
    display: flex; /* permitirá usar o align-items para alinhar o conteúdo ao 
    centro vertical*/
    align-items: center;/* alinhamento vertical com o display:flex*/
    justify-content:flex-end;/*alinhamento horizontal do conteúdo*/
    color: #f0eeee;
    font-size: 22px;
    text-decoration: none;
    
    
}

.logo_menu{
    
    width: 360px; /*largura padrão de cada link*/
    min-width: 260px; /*largura minima de cada link*/
    max-width: 360px; /*largura máxima de cada link*/
    height: 50px; /*altura de cada link*/
    display: flex; /* permitirá usar o align-items para alinhar o conteúdo ao 
    centro vertical*/
    align-items: center;/* alinhamento vertical com o display:flex*/
    justify-content: flex-start;/*alinhamento horizontal do conteúdo*/
    padding-right: 100px;
    

}

.logo{
    width: 140px; /*tamanho do logotipo da barra de navegação*/

    
}

.menu-item:hover{ /*efeito para quando passar o mouse em cima do link do menu*/
    color: rgb(255,182,0);
    text-decoration: underline;
}

nav .icon { /*icone quando o menu recolhe.*/
    display: none;
    color:white;
    padding-right: 20px;
    padding-top: 15px;
  }
  

/*banner no topo da página*/

.hero-inner{
    margin-top: 70px;
}

.hero {
    /* Sizing */
    width: 100vw;
    height: 60vh;
    padding-top: 70px;

    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Text styles */
    text-align: center;
    color: white;

    /* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(02-banner.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.logo_hero {
    padding: 6px 6px;
    height: 250px;
    float: center;
}

.hero h1 {
    /* Text styles */
    font-size: 3em;
    color: white;

    /* Margins */
    margin-top: 0;
    margin-bottom: 0;;
}

.hero_redes {
    display: inline-block;
    font-size: 20px;
    padding: 30px;
}

.redessociais {
    padding: 6px 6px;
    height: 50px;
    float: center;
    font-size: 24px;
}


.titulo-principal {
	text-align: center;
	font-size: 4em;
    margin: 0 0 1em;
    width: 100%;
    display: flex;
    justify-content: center;
}

/*Página O Projeto*/


.oprojeto{
	padding: 4em 0;
	background: #FEFEFE;
    display: flex;
    width: 100%;
    justify-content: center; /*alinhamento horizontal do conteúdo*/
}

.projeto_container{
    display: flex;
    justify-content: flex-end; /*colocou o menu a esquerda*/
    flex-wrap: wrap; /*mantém os links dentro do container e 
    permite um ficar embaixo do outro quando a tela diminuir*/
    width: 1140px;
    /*border: red 1px solid;*/ /* para verificar a área do NAV*/
    margin:0px;
    justify-content: center; /*alinhamento horizontal do conteúdo*/
}

.projeto_div{
    margin-top: 40px;
    flex:1; /*permite que o conteúdo se adapte automaticamente*/
    display:flex;
    margin:5px; /*margem para desgrudar os elementos*/
    min-width: 300px; /*largura minima do elemento*/
    max-width: 300px; /*largura máxima do elemento*/
    min-height: 300px; /*altura minima do elemento*/
    max-height: 300px; /*altura máxima do elemento*/
    flex-wrap: wrap; /*mantém os itens dentro do container e permite 
    um ficar embaixo do outro quando a tela diminuir*/
    justify-content: center; /*alinhamento horizontal do conteúdo*/
    margin:20px;
    padding:5px;
}

.projeto_icone {
    padding: 6px 6px;
    height: 120px;
    transition: .3s;
}

.projeto-titulo {
	font-size: 25px;
    font-weight: bold;
    padding: 6px 0 6px 0;
    text-align: center;
}

.projeto_descricao {
    font-size: 17px;
    text-align: center;

}


.video {
	height:400px;
    background-color: rgb(211, 206, 206);
    display: flex; /* permitirá usar o align-items para alinhar o conteúdo ao 
    centro vertical*/
    align-items: center;/* alinhamento vertical com o display:flex*/
    justify-content: center;/*alinhamento horizontal do conteúdo*/
}

.video-container{
    display: flex;
    max-height: 300;
    max-width: 545;
}

.video iframe {
    display: flex;
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 45px;
}

.numeros {
    display: flex;
    text-align: center;
	background: url("13-numeros.jpg");
    padding: 5px 0 10px 0;
    /*height: 120px;*/
    justify-content: center; /*colocou o menu a esquerda*/
    flex-wrap: wrap; /*mantém os links dentro do container e 
                permite um ficar embaixo do outro quando a tela diminuir*/
}

.numeros_componente{
    /*border: 1px solid black; /*borda do elemento*/
    flex:1; /*permite que o conteúdo se adapte automaticamente*/
    margin:5px 40px; /*margem para desgrudar os elementos*/
	text-align: center;
	vertical-align: top;
	padding: 4px 5px;
    box-sizing: border-box;
    text-align: center;
    min-width: 350px; /*largura minima do elemento*/
    max-width: 350px; /*largura máxima do elemento*/
    min-height: 120px; /*altura minima do elemento*/
    max-height: 120px; /*altura máxima do elemento*/

}


.numeros-titulo {
	font-size: 60px;
    font-weight: bold;
    padding: 0 0 6px 0;
    color:white;
    text-align: center;
}

.numeros_descricao {
    font-size: 20px;
    color:rgb(255,182,0);
    /*max-width: 300px;*/

    text-align: center;

}

/*Página Nascentes*/

.nascentes{
	padding: 4em 0;
	background: #FEFEFE;
    display:flex;
    
    justify-content: center; /*alinhamento horizontal do conteúdo*/
}

.nascente_container{
    display: flex;
    flex-wrap: wrap; /*mantém os links dentro do container e 
    permite um ficar embaixo do outro quando a tela diminuir*/
    width: 1140px;
    /*border: red 1px solid;*/ /* para verificar a área do NAV*/
    margin:0px;
    justify-content: center; /*alinhamento horizontal do conteúdo*/
}

.nascente_lista {
 
    flex:1; /*permite que o conteúdo se adapte automaticamente*/
    margin:10px auto; /*margem para desgrudar os elementos*/
    text-align: center;
    vertical-align: top;
    padding: 4px 5px;
    box-sizing: border-box;
    min-width: 340px; /*largura minima do elemento*/
    max-width: 340px; /*largura máxima do elemento*/
    min-height: 190px; /*altura minima do elemento*/
    max-height: 190px; /*altura máxima do elemento*/

}

.nascente_lista a {
    position: relative;
    display: inline-block;
}

.nascente-imagem {
    width: 330px;
}
 
.nascente_lista a span {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-top: -1em;
    margin-left: -50%;
    width: 100%;
    height: 4em;
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.todos_municipios {
    border: none;
    color: rgb(255,182,0);
    font-weight: bold;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    width: 100px;
    height: 33px;
    flex-wrap: wrap; /*mantém os links dentro do container e 
    permite um ficar embaixo do outro quando a tela diminuir*/
    margin: 20px 200px;
    justify-content: center;
}

.todos_municipios:hover{
    background: darkorange;
    color: black;
    transform: scale(1.2);
    border:none;
}

/*Página Particípes*/

.participe{
    flex-wrap: wrap; /*mantém os itens dentro do container e permite 
    um ficar embaixo do outro quando a tela diminuir*/
    background: #d1cece;
    padding: 50px 50px;
    align-items: center;/* alinhamento vertical*/
    justify-content: center;/*alinhamento horizontal do conteúdo*/
    text-align: center;
}

.participe_lista{
    flex:1; /*permite que o conteúdo se adapte automaticamente*/
    display: inline-flex;
    margin:20px 50px; /*margem para desgrudar os elementos*/
    min-width: 220px; /*largura minima do elemento*/
    max-width: 220px; /*largura máxima do elemento*/
    min-height: 220px; /*altura minima do elemento*/
    max-height: 220px; /*altura máxima do elemento*/
    

}


/*Página Notícias*/

.noticia{
	padding: 4em 0;
    background: #ffffff;
    display: flex;
    flex-wrap: wrap; /*mantém os itens dentro do container e permite 
    um ficar embaixo do outro quando a tela diminuir*/
    /*padding: 50px 50px;*/
    align-items: center;/* alinhamento vertical*/
    justify-content: center;/*alinhamento horizontal do conteúdo*/
    overflow: hidden;

}

.noticias-container{
    display: flex;
    flex-wrap: wrap; /*mantém os links dentro do container e 
    permite um ficar embaixo do outro quando a tela diminuir*/
    width: 1140px;
    /*border: red 1px solid;*/ /* para verificar a área do NAV*/
    margin:0px;
    justify-content: center; /*alinhamento horizontal do conteúdo*/
    }

.conteudo-noticias{
   
    margin: 0 auto;
    border-top:1px solid rgba(146, 146, 146, 0.438);
    padding-top: 10px;
    flex:1; /*permite que o conteúdo se adapte automaticamente*/
    margin:20px 150px; /*margem para desgrudar os elementos*/
    min-width: 90%; /*largura minima do elemento*/
    max-width: 90%; /*largura máxima do elemento*/
    min-height: 175px; /*altura minima do elemento*/
    max-height: 175px; /*altura máxima do elemento*/
    overflow: hidden;
    /*border: solid 1px rgb(177, 16, 16);*/

    }

.conteudo-noticias h2 {
	font-size: 25px;
    font-weight: bold;
    padding: 0 0 6px 0;
}

.conteudo-noticias p {
    font-size: 17px;
    margin-bottom: 50px;
}

.conteudo-noticias img {
    float: left;
    margin: 0 15px 0 15px;
    height: 150px;
}
.saibamais {
    border: none;
    color: rgb(255,182,0);
    font-weight: bold;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 30px 2px;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    height: 30px;
}
.todos {
    border: none;
    color: rgb(255,182,0);
    font-weight: bold;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 30px 2px;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
}

.todos_noticia {
    width: 1140px;
    margin: 0 auto;
    border-top:1px solid rgba(146, 146, 146, 0.438);
    padding-top: 10px;
}

.todos_noticia, .saibamais:hover{
    background: darkorange;
    color: black;
	transform: scale(1.2);

}

.container { 
    height: 50px;
    position: relative;

}
  
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*página de contato*/

.contatos{
	padding: 4em 0;
    background: #d1cece;
    display: flex;
    flex-wrap: wrap; /*mantém os itens dentro do container e permite 
    um ficar embaixo do outro quando a tela diminuir*/
    /*padding: 50px 50px;*/
    align-items: center;/* alinhamento vertical*/
    justify-content: center;/*alinhamento horizontal do conteúdo*/

}

.conteudo-contato{
    width: 700px;
    margin: auto;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap; /*mantém os links dentro do container e 
    permite um ficar embaixo do outro quando a tela diminuir*/
    /*border: red 1px solid;*/ /* para verificar a área do NAV*/
    justify-content: center; /*alinhamento horizontal do conteúdo*/
    align-items: center;/* alinhamento vertical*/
    padding-left: 100px;
}


.conteudo-contato form {
    width:100%;
}

.conteudo-contato form label, form legend {
	display:block;
	font-size: 18px;
	margin: 0 0 10px;
}

.conteudo-contato .input-padrao {
	display:flex;
	margin: 0 0 20px;
	padding: 10px 25px;
    width: 70%;
    justify-content: center; /*alinhamento horizontal do conteúdo*/
    align-items: center;/* alinhamento vertical*/
}

.conteudo-contato .checkbox {
	margin: 20px 0;
}

.enviar{
    border: none;
    color: rgb(255,182,0);
    font-weight: bold;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 30px 0px 30px 140px;
    cursor: pointer;
    
}

.enviar:hover{
    background: darkorange;
    color: black;
	transform: scale(1.2);
}

/*rodapé*/

footer {
    text-align: center;
    color: blanchedalmond;
	background: black;
	padding: 40px 0;
}

/*PAGINA MUNICIPIO*/

/*banner no topo da página*/

.hero-vera {
    /* Sizing */
    width: 100vw;
    height: 40vh;

    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Text styles */
    text-align: center;
    color: white;

    /* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(02-banner.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero-vera h1 {
    /* Text styles */
    font-size: 6em;
    color: white;

    /* Margins */
    margin-top: 0;
    margin-bottom: 0;;
}

/*mapa*/

.omapa{
	padding: 4em 0;
	background: #FEFEFE;
    width: 85%;
    max-width: 1140px;
	margin: 0 auto;
}

.omapa_div{
    margin-top: 40px;
}

/*ajutes números*/

.numeros_municipio{

    margin:5px 40px; /*margem para desgrudar os elementos*/

}

/*tabelas*/

.table_container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.table-accordion td th{
    border: 1px solid black;
}

.table-accordion{
    display:flex;
    max-width: 500px; /*largura total da tabela*/
    border-collapse: collapse;/*elimina a borda dupla das células*/
    /*border-spacing: 50px 10px; se eu colocar o border-colapse: separate, 
    esse efeito vai dar as distancias entre as céluas*/
    /*empty-cells: hide; hide oculta a célula se ela for vazia, se o paramtro 
    for show, ela mostra a célula vazia*/
    margin: 20px 0px;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.table-accordion td, .table-accordion th {
    height:50px;
    vertical-align: middle;/*só funciona com com células*/
    text-align: center;
    padding: 2px;
}

.table-accordion th {
    background-color: rgb(11, 20, 20);
    color: rgb(236, 235, 231);
    font-size: 15px;
    font-weight: bold;
}

.table-accordion tr:nth-child(even){ /*even é para em ingles, com esse comando nth-child(even) você 
                    preenche cada celular par com a cor definida. Pode ser usada em outros 
                    elementos, comp <p> por exemplo*/
    background-color: #ddd;
}


/*dados nascentes*/

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    text-align: center;
  }
  
  .panel h2 {
      font-size: 18px;
      font-weight: bold;
      padding: 10px;
  }

  /*slide show de fotos*/

  * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  background-color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

/*tabela nascentes*/

#container-tabela{
    display: block;
	width: 60%;
	height: 100%;
	margin: 10px auto;
}

.tabela-nascente-total {
    border-collapse: collapse;
    width: 100%;
    }

#container-tabela h2 {
    font-size: 3em;
    padding-bottom: .5em;
    }

#filtrar-tabela {
    width: 200px;
    height: 35px;
    margin-bottom: 10px;
}

.tabela-nascente-total td, .tabela-nascente-totals th {
    border: 1px solid #ddd;
    padding: 8px;
    }

.tabela-nascente-total tr:nth-child(even){background-color: #f2f2f2;}

.tabela-nascente-total tr:hover {background-color: #ddd;}

.tabela-nascente-total th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #175f19;
    color: white;
}

.fadeOut{ /*efeito de apagar a linha na tabela com duplo clique*/
	opacity: 0;
	transition: 0.5s;
}

/*formulario nascentes*/
#form-adiciona{
    width: 60%;
    margin: 0 auto;
}

#titulo-form {
	font-size: 2em;
    width: 60%;
    margin: 10px auto;
    }

#mensagens-erro {
    color: red;
    width: 60%;
    margin: 10px auto;
    }

#form-adiciona label{
    color: #555;
    display: block;
    margin-bottom: .2em;
}

#form-adiciona .campo{
    margin: 0;
    padding-bottom: 1em;
    width: 100%;
    border: 1px solid #ccc;
    padding: .7em;
}

.campo-medio{
    display: inline-block;
    padding-right: .5em;
}

.grupo{
    width: 32%;
    display: inline-block;
    padding: 10px 0px;
}

/* para tirar as setinhas dos campos numeros*/
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}

/* para tirar as setinhas dos campos numeros ...continuação*/
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

#adicionar-nascente{
    padding: .5em 2em;
    border: 0;
    border-bottom: 3px solid;
    font-size: 1.2em;
    cursor: pointer;
    margin: 0;
    margin-top: -3px;
    color: #fff;
    background-color:#0c8cd3;
    border-color: #04324c;
    width: 20%;
    display: block;
    clear: both;
    margin: 10px auto;

}

#adicionar-nascente button:active{
    margin-top:0px;
    border: 0;
}

/*campo de filtro*/

#filtrar-tabela {
	width: 200px;
	height: 35px;
	margin-bottom: 10px;
}

.invisivel{
	display: none;
}


@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

  /*responsivo*/

  @media screen and (max-width: 800px) { /*adaptações para celular*/
    nav a:not(:first-child) {display: none;}
    nav a:first-child{float:left;}
    nav a.icon {
      float: right;
      display: block;
    }
    .logo_menu{
        width:300px
    }
    .nav{
        display: block;
        flex-wrap: nowrap;
        text-align: center;

    }

    .menu-item{
        margin-left: auto;
        margin-right: auto;
        
    }

    }   
  
  @media screen and (max-width: 800px) { /*adaptações para celular*/
    nav.responsive {position: relative;}
    nav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }

    nav.responsive a { /*adaptações para celular*/
      float: none;
      display: block;
      text-align: left;
    }

    }